body {
    background-color: rgba(250, 251, 253, 0.877);
}
h2 {
    text-align: center;
    font-size: 50px;
}

#tituloPrincipal {
    border: solid blue;
    background-color: blue;
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;

}

#section1 {
    display: grid;
    justify-content: center;
}

#section2 {
    display: grid;
    justify-content: center;
}

table, th, tr, td{
    border: solid black 1px;
    font-family: monospace;
}

th{
    background-color: white;
    
}

td {
   text-align: left;
   padding-left: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

/* #section1 {    
    border: solid 2px blue;
    border-radius: 10px;
} */

#p1 {
    font-size: 20px;
}

/* #section2{
    border: solid 2px blue;
    border-radius: 10px;
} */

.listaButton {
    font-size: 20px;
    margin-top: 5px;
}




